In [1]:
import pandas as pd

In [14]:
movies = pd.read_clipboard()

In [17]:
movies

,ID,NAME,INDUSTRY,GENRE,LANGUAGE,DURATION,RATING
0,1,Bahubali,Tollyhood,Action,Telegu,170,9.5
1,2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
2,3,URI-The Surgical strike,Bollywood,Action,Hindi,120,10.0
3,4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
4,5,AVENGERS-The End game,Hollywood,Action,English,180,9.0
5,6,Tenet,Hollywood,SciFi,English,150,8.5
6,7,Major,Bollywood,Action,Hindi,140,8.0
7,8,Intersteller,Bollywood,SciFi,Hindi,190,7.0
8,9,Gravity,Hollywood,SciFi,English,130,6.0
9,10,Titanic,Hollywood,Drama,English,180,9.0
10,11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
11,12,Houseful,Bollywood,Comedy,Hindi,150,6.0
12,13,The Dictator,Hollywood,Comedy,English,120,7.0
13,14,Hera pheri,Bollywood,Comedy,Hindi,140,9.0
14,15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [95]:
movies = pd.read_csv(r'Python_movie.csv',index_col = 0)

movies.sample(3)

In [97]:
movies

                       NAME   INDUSTRY       GENRE LANGUAGE  DURATION  RATING
ID
1                  Bahubali  Tollyhood      Action   Telegu       170     9.5
2                Brahmastra  Bollywood  Mystereous    Hindi       180     5.0
3   URI-The Surgical strike  Bollywood      Action    Hindi       120    10.0
4                      DDLJ  Bollywood    Romantic    Hindi       150    10.0
5     AVENGERS-The End game  Hollywood      Action  English       180     9.0
6                     Tenet  Hollywood       SciFi  English       150     8.5
7                     Major  Bollywood      Action    Hindi       140     8.0
8              Intersteller  Bollywood       SciFi    Hindi       190     7.0
9                   Gravity  Hollywood       SciFi  English       130     6.0
10                  Titanic  Hollywood       Drama  English       180     9.0
11   Yeh Jawani Hai Deewani  Bollywood    Romantic    Hindi       150     5.0
12                 Houseful  Bollywood      Comedy    Hindi       150     6.0
13             The Dictator  Hollywood      Comedy  English       120     7.0
14               Hera pheri  Bollywood      Comedy    Hindi       140     9.0
15                   Sholay  Bollywood       Drama    Hindi       150     8.5

In [23]:
movies = pd.read_csv(r'Python_movie.csv')

In [ ]:
movies

1. Find the longest movie name.

In [24]:
movies['DURATION'].argmax()

7

In [ ]:
movies['NAME'][7]

In [25]:
movies['NAME'][movies['DURATION'].argmax()]

'Intersteller'

2 - Number of Movies who got 10 Rating?

In [26]:
movies['NAME'][movies['RATING']==10]

2    URI-The Surgical strike
3                       DDLJ
Name: NAME, dtype: object

In [27]:
f = movies['RATING']==10

In [28]:
movies[f]

   ID                     NAME   INDUSTRY     GENRE LANGUAGE  DURATION  RATING
2   3  URI-The Surgical strike  Bollywood    Action    Hindi       120    10.0
3   4                     DDLJ  Bollywood  Romantic    Hindi       150    10.0

In [29]:
sum(movies['RATING']==10)

2

3. How many industries are there?

In [30]:
movies['INDUSTRY'].value_counts().count()

3

In [31]:
len(movies['INDUSTRY'].value_counts())

3

In [32]:
movies['INDUSTRY'].nunique()

3

4.Find the least-liked comedy movie name.

In [33]:
movies['NAME'][movies[movies['GENRE'] == 'Comedy']['RATING'].idxmin()]

'Houseful'

In [42]:
Index(['id','name','industry','genre','language','duration','rating'],dtype='object')

NameError: name 'Index' is not defined

5. Find the longest english movie.

In [35]:
movies['NAME'][movies[movies['LANGUAGE'] == 'English']['DURATION'].idxmax()]

'AVENGERS-The End game'

6.What is the genre of Intersteller?

In [43]:
movies['NAME']

0                    Bahubali
1                  Brahmastra
2     URI-The Surgical strike
3                        DDLJ
4       AVENGERS-The End game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                   Houseful
12               The Dictator
13                 Hera pheri
14                     Sholay
Name: NAME, dtype: object

In [44]:
'hello'.upper()

'HELLO'

In [45]:
'hello'.split('e')

['h', 'llo']

In [46]:
movies['NAME'].str.lower()

0                    bahubali
1                  brahmastra
2     uri-the surgical strike
3                        ddlj
4       avengers-the end game
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10     yeh jawani hai deewani
11                   houseful
12               the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [18]:
movies['GENRE'][movies['NAME']=='Intersteller']

7    SciFi
Name: GENRE, dtype: object

In [19]:
movies['GENRE'][movies['NAME']=='Intersteller'].values[0]

'SciFi'

In [47]:
movies['GENRE'][movies['NAME']=='Intersteller']

7    SciFi
Name: GENRE, dtype: object

In [48]:
movies['GENRE'][movies['NAME'].str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

In [49]:
names = movies['NAME']

In [51]:
names.to_list()

['Bahubali',
 'Brahmastra',
 'URI-The Surgical strike',
 'DDLJ',
 'AVENGERS-The End game',
 'Tenet',
 'Major',
 'Intersteller',
 'Gravity',
 'Titanic',
 'Yeh Jawani Hai Deewani',
 'Houseful',
 'The Dictator',
 'Hera pheri',
 'Sholay']

In [52]:
names.values

array(['Bahubali', 'Brahmastra', 'URI-The Surgical strike', 'DDLJ',
       'AVENGERS-The End game', 'Tenet', 'Major', 'Intersteller',
       'Gravity', 'Titanic', 'Yeh Jawani Hai Deewani', 'Houseful',
       'The Dictator', 'Hera pheri', 'Sholay'], dtype=object)

In [ ]:
names.str.

7. What is the Average duration of each genre?

In [41]:
movies['GENRE'][movies['DURATION'].mean()]

KeyError: 153.33333333333334

In [57]:
names.str.get(1)

0     a
1     r
2     R
3     D
4     V
5     e
6     a
7     n
8     r
9     i
10    e
11    o
12    h
13    e
14    h
Name: NAME, dtype: object

In [58]:
names.str.get_dummies()

,AVENGERS-The End game,Bahubali,Brahmastra,DDLJ,Gravity,Hera pheri,Houseful,Intersteller,Major,Sholay,Tenet,The Dictator,Titanic,URI-The Surgical strike,Yeh Jawani Hai Deewani
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
7,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
11,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
13,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [59]:
names.str.upper()

0                    BAHUBALI
1                  BRAHMASTRA
2     URI-THE SURGICAL STRIKE
3                        DDLJ
4       AVENGERS-THE END GAME
5                       TENET
6                       MAJOR
7                INTERSTELLER
8                     GRAVITY
9                     TITANIC
10     YEH JAWANI HAI DEEWANI
11                   HOUSEFUL
12               THE DICTATOR
13                 HERA PHERI
14                     SHOLAY
Name: NAME, dtype: object

In [60]:
names.str.casefold()

0                    bahubali
1                  brahmastra
2     uri-the surgical strike
3                        ddlj
4       avengers-the end game
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10     yeh jawani hai deewani
11                   houseful
12               the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [63]:
movies['GENRE'].str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFi
0        1       0      0           0         0      0
1        0       0      0           1         0      0
2        1       0      0           0         0      0
3        0       0      0           0         1      0
4        1       0      0           0         0      0
5        0       0      0           0         0      1
6        1       0      0           0         0      0
7        0       0      0           0         0      1
8        0       0      0           0         0      1
9        0       0      1           0         0      0
10       0       0      0           0         1      0
11       0       1      0           0         0      0
12       0       1      0           0         0      0
13       0       1      0           0         0      0
14       0       0      1           0         0      0

In [66]:
###names.str.index('e')

In [68]:
names.str.split('e').str.join('--+--')

0                               Bahubali
1                             Brahmastra
2        URI-Th--+-- Surgical strik--+--
3                                   DDLJ
4          AVENGERS-Th--+-- End gam--+--
5                          T--+--n--+--t
6                                  Major
7               Int--+--rst--+--ll--+--r
8                                Gravity
9                                Titanic
10    Y--+--h Jawani Hai D--+----+--wani
11                          Hous--+--ful
12                      Th--+-- Dictator
13                    H--+--ra ph--+--ri
14                                Sholay
Name: NAME, dtype: object

In [67]:
names.str.join('.')

0                                   B.a.h.u.b.a.l.i
1                               B.r.a.h.m.a.s.t.r.a
2     U.R.I.-.T.h.e. .S.u.r.g.i.c.a.l. .s.t.r.i.k.e
3                                           D.D.L.J
4         A.V.E.N.G.E.R.S.-.T.h.e. .E.n.d. .g.a.m.e
5                                         T.e.n.e.t
6                                         M.a.j.o.r
7                           I.n.t.e.r.s.t.e.l.l.e.r
8                                     G.r.a.v.i.t.y
9                                     T.i.t.a.n.i.c
10      Y.e.h. .J.a.w.a.n.i. .H.a.i. .D.e.e.w.a.n.i
11                                  H.o.u.s.e.f.u.l
12                          T.h.e. .D.i.c.t.a.t.o.r
13                              H.e.r.a. .p.h.e.r.i
14                                      S.h.o.l.a.y
Name: NAME, dtype: object

In [69]:
names.str.split('e')

0                      [Bahubali]
1                    [Brahmastra]
2     [URI-Th,  Surgical strik, ]
3                          [DDLJ]
4       [AVENGERS-Th,  End gam, ]
5                       [T, n, t]
6                         [Major]
7               [Int, rst, ll, r]
8                       [Gravity]
9                       [Titanic]
10    [Y, h Jawani Hai D, , wani]
11                    [Hous, ful]
12                [Th,  Dictator]
13                 [H, ra ph, ri]
14                       [Sholay]
Name: NAME, dtype: object

In [70]:
names.str.lower()

0                    bahubali
1                  brahmastra
2     uri-the surgical strike
3                        ddlj
4       avengers-the end game
5                       tenet
6                       major
7                intersteller
8                     gravity
9                     titanic
10     yeh jawani hai deewani
11                   houseful
12               the dictator
13                 hera pheri
14                     sholay
Name: NAME, dtype: object

In [71]:
names.str.strip()

0                    Bahubali
1                  Brahmastra
2     URI-The Surgical strike
3                        DDLJ
4       AVENGERS-The End game
5                       Tenet
6                       Major
7                Intersteller
8                     Gravity
9                     Titanic
10     Yeh Jawani Hai Deewani
11                   Houseful
12               The Dictator
13                 Hera pheri
14                     Sholay
Name: NAME, dtype: object

In [72]:
movies['GENRE'][movies['NAME'].str.strip().str.lower()=='Intersteller'.lower()].values[0]

'SciFi'

7. What is the Average duration of each genre?

In [73]:
movies['GENRE'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFi', 'Drama', 'Comedy'],
      dtype=object)

In [74]:
movies['GENRE'].nunique()

6

In [75]:
movies['GENRE'].value_counts()

Action        4
SciFi         3
Comedy        3
Romantic      2
Drama         2
Mystereous    1
Name: GENRE, dtype: int64

In [79]:
for GENRE in movies['GENRE'].unique():
    print(GENRE)

Action
Mystereous
Romantic
SciFi
Drama
Comedy

In [82]:
for GENRE in movies['GENRE'].unique():
    print(GENRE,movies[movies['GENRE']==GENRE]['DURATION'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFi 156.66666666666666
Drama 165.0
Comedy 136.66666666666666

In [83]:
movies.groupby('GENRE')['DURATION'].mean()

GENRE
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFi         156.666667
Name: DURATION, dtype: float64

In [85]:
movies.groupby(['GENRE','INDUSTRY'])['DURATION'].mean()

GENRE       INDUSTRY
Action      Bollywood    130.0
            Hollywood    180.0
            Tollyhood    170.0
Comedy      Bollywood    145.0
            Hollywood    120.0
Drama       Bollywood    150.0
            Hollywood    180.0
Mystereous  Bollywood    180.0
Romantic    Bollywood    150.0
SciFi       Bollywood    190.0
            Hollywood    140.0
Name: DURATION, dtype: float64

In [86]:
movies.groupby(['INDUSTRY','GENRE'])['DURATION'].mean()

INDUSTRY   GENRE
Bollywood  Action        130.0
           Comedy        145.0
           Drama         150.0
           Mystereous    180.0
           Romantic      150.0
           SciFi         190.0
Hollywood  Action        180.0
           Comedy        120.0
           Drama         180.0
           SciFi         140.0
Tollyhood  Action        170.0
Name: DURATION, dtype: float64

In [98]:
movies.describe()

         DURATION     RATING
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [99]:
movies.head()

                       NAME   INDUSTRY       GENRE LANGUAGE  DURATION  RATING
ID
1                  Bahubali  Tollyhood      Action   Telegu       170     9.5
2                Brahmastra  Bollywood  Mystereous    Hindi       180     5.0
3   URI-The Surgical strike  Bollywood      Action    Hindi       120    10.0
4                      DDLJ  Bollywood    Romantic    Hindi       150    10.0
5     AVENGERS-The End game  Hollywood      Action  English       180     9.0

In [94]:
## movies.drop(['ID'],axis=1, inplace=True)

In [101]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   NAME      15 non-null     object
 1   INDUSTRY  15 non-null     object
 2   GENRE     15 non-null     object
 3   LANGUAGE  15 non-null     object
 4   DURATION  15 non-null     int64
 5   RATING    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 840.0+ bytes

In [100]:
movies.describe(include='all')

            NAME   INDUSTRY   GENRE LANGUAGE    DURATION     RATING
count         15         15      15       15   15.000000  15.000000
unique        15          3       6        3         NaN        NaN
top     Bahubali  Bollywood  Action    Hindi         NaN        NaN
freq           1          9       4        9         NaN        NaN
mean         NaN        NaN     NaN      NaN  153.333333   7.833333
std          NaN        NaN     NaN      NaN   22.253946   1.718249
min          NaN        NaN     NaN      NaN  120.000000   5.000000
25%          NaN        NaN     NaN      NaN  140.000000   6.500000
50%          NaN        NaN     NaN      NaN  150.000000   8.500000
75%          NaN        NaN     NaN      NaN  175.000000   9.000000
max          NaN        NaN     NaN      NaN  190.000000  10.000000

In [102]:
movies.groupby('GENRE').describe().T

GENRE               Action      Comedy       Drama  Mystereous    Romantic  \
DURATION count    4.000000    3.000000    2.000000         1.0    2.000000
         mean   152.500000  136.666667  165.000000       180.0  150.000000
         std     27.537853   15.275252   21.213203         NaN    0.000000
         min    120.000000  120.000000  150.000000       180.0  150.000000
         25%    135.000000  130.000000  157.500000       180.0  150.000000
         50%    155.000000  140.000000  165.000000       180.0  150.000000
         75%    172.500000  145.000000  172.500000       180.0  150.000000
         max    180.000000  150.000000  180.000000       180.0  150.000000
RATING   count    4.000000    3.000000    2.000000         1.0    2.000000
         mean     9.125000    7.333333    8.750000         5.0    7.500000
         std      0.853913    1.527525    0.353553         NaN    3.535534
         min      8.000000    6.000000    8.500000         5.0    5.000000
         25%      8.750000    6.500000    8.625000         5.0    6.250000
         50%      9.250000    7.000000    8.750000         5.0    7.500000
         75%      9.625000    8.000000    8.875000         5.0    8.750000
         max     10.000000    9.000000    9.000000         5.0   10.000000

GENRE                SciFi
DURATION count    3.000000
         mean   156.666667
         std     30.550505
         min    130.000000
         25%    140.000000
         50%    150.000000
         75%    170.000000
         max    190.000000
RATING   count    3.000000
         mean     7.166667
         std      1.258306
         min      6.000000
         25%      6.500000
         50%      7.000000
         75%      7.750000
         max      8.500000

In [103]:
movies.groupby('INDUSTRY').describe().T

INDUSTRY         Bollywood   Hollywood  Tollyhood
DURATION count    9.000000    5.000000        1.0
         mean   152.222222  152.000000      170.0
         std     21.081851   27.748874        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  130.000000      170.0
         50%    150.000000  150.000000      170.0
         75%    150.000000  180.000000      170.0
         max    190.000000  180.000000      170.0
RATING   count    9.000000    5.000000        1.0
         mean     7.611111    7.900000        9.5
         std      1.964971    1.341641        NaN
         min      5.000000    6.000000        9.5
         25%      6.000000    7.000000        9.5
         50%      8.000000    8.500000        9.5
         75%      9.000000    9.000000        9.5
         max     10.000000    9.000000        9.5

In [104]:
movies.groupby(['GENRE','INDUSTRY']).describe().T

GENRE               Action                          Comedy            \
INDUSTRY         Bollywood Hollywood Tollyhood   Bollywood Hollywood
DURATION count    2.000000       1.0       1.0    2.000000       1.0
         mean   130.000000     180.0     170.0  145.000000     120.0
         std     14.142136       NaN       NaN    7.071068       NaN
         min    120.000000     180.0     170.0  140.000000     120.0
         25%    125.000000     180.0     170.0  142.500000     120.0
         50%    130.000000     180.0     170.0  145.000000     120.0
         75%    135.000000     180.0     170.0  147.500000     120.0
         max    140.000000     180.0     170.0  150.000000     120.0
RATING   count    2.000000       1.0       1.0    2.000000       1.0
         mean     9.000000       9.0       9.5    7.500000       7.0
         std      1.414214       NaN       NaN    2.121320       NaN
         min      8.000000       9.0       9.5    6.000000       7.0
         25%      8.500000       9.0       9.5    6.750000       7.0
         50%      9.000000       9.0       9.5    7.500000       7.0
         75%      9.500000       9.0       9.5    8.250000       7.0
         max     10.000000       9.0       9.5    9.000000       7.0

GENRE              Drama           Mystereous    Romantic     SciFi  \
INDUSTRY       Bollywood Hollywood  Bollywood   Bollywood Bollywood
DURATION count       1.0       1.0        1.0    2.000000       1.0
         mean      150.0     180.0      180.0  150.000000     190.0
         std         NaN       NaN        NaN    0.000000       NaN
         min       150.0     180.0      180.0  150.000000     190.0
         25%       150.0     180.0      180.0  150.000000     190.0
         50%       150.0     180.0      180.0  150.000000     190.0
         75%       150.0     180.0      180.0  150.000000     190.0
         max       150.0     180.0      180.0  150.000000     190.0
RATING   count       1.0       1.0        1.0    2.000000       1.0
         mean        8.5       9.0        5.0    7.500000       7.0
         std         NaN       NaN        NaN    3.535534       NaN
         min         8.5       9.0        5.0    5.000000       7.0
         25%         8.5       9.0        5.0    6.250000       7.0
         50%         8.5       9.0        5.0    7.500000       7.0
         75%         8.5       9.0        5.0    8.750000       7.0
         max         8.5       9.0        5.0   10.000000       7.0

GENRE
INDUSTRY         Hollywood
DURATION count    2.000000
         mean   140.000000
         std     14.142136
         min    130.000000
         25%    135.000000
         50%    140.000000
         75%    145.000000
         max    150.000000
RATING   count    2.000000
         mean     7.250000
         std      1.767767
         min      6.000000
         25%      6.625000
         50%      7.250000
         75%      7.875000
         max      8.500000

8. Average rating of each industry

In [105]:
movies.groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
Bollywood    7.611111
Hollywood    7.900000
Tollyhood    9.500000
Name: RATING, dtype: float64

9. average rating of Romantic movies industry wise

In [108]:
movies[movies['GENRE'].str.lower()=='Romantic'].groupby('INDUSTRY')['RATING'].mean()

Series([], Name: RATING, dtype: float64)

In [109]:
movies[movies['GENRE'].str.lower()=='romantic'].groupby('INDUSTRY')['RATING'].mean()

INDUSTRY
Bollywood    7.5
Name: RATING, dtype: float64

10. List down all the english movies with their respective ratings in desc order

In [110]:
movies[movies['LANGUAGE'].str.lower()=='english'][['NAME','RATING']].sort_values(by='RATING',ascending=False)

                     NAME  RATING
ID
5   AVENGERS-The End game     9.0
10                Titanic     9.0
6                   Tenet     8.5
13           The Dictator     7.0
9                 Gravity     6.0

In [ ]:
##kaggle.com
##github.com